{% extends "maestra.html" %}

{% block title %}DETALLE DEL PRODUCTO{% endblock %}

{% block content %}
    <head>
    </head>
    <div class="container mt-5">
        <h1 class="text-center mb-3">Detalle del producto</h1>
        <ul class="list-group">
            <li class="list-group-item"><strong>Nombre:</strong> {{ producto.nombreProducto }}</li>
            <li class="list-group-item"><strong>Stock:</strong> {{ producto.stock }}</li>
            <li class="list-group-item"><strong>Fecha de lanzamiento:</strong> {{ producto.fecha }}</li>
            <li class="list-group-item"><strong>Categoría:</strong> {{ producto.categoria.nombreCategoria }}</li>
            <li class="list-group-item"><strong>Imagen:</strong> {{ producto.nombreImagen }}</li>
            <li class="list-group-item text-center" id="img"><a href="{{ url_for('imagen_producto', nombre=producto.nombreImagen) }}" target = "_blank"><img class="img-fluid" src="data:image/jpeg;base64,{{ base64.b64encode(producto.imagen).decode('utf-8') }}"></img></a></li>
        </ul>
    </div>
{% endblock %}