{% extends "maestra.html" %}

{% block title %}LISTADO DATOS{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>
    <body>

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in
            messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{message}}
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
            ></button>
            </div>
        {% endfor %} {% endif %} {% endwith %}

        <div class="container mt-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">MODIFICAR PRODUCTO</h3>
                </div>
                <div class="card-body row">
                    <div class="row row-col-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-2">
                        <div class="col d-flex flex-column justify-content-center">
                            <li class="list-group-item">
                                <form action="/edit/{{ producto.id }}" method="POST" enctype="multipart/form-data" onsubmit="return validarFormulario()">
                                    <small>Nombre</small>
                                    <input type="text" class="form-control mb-5" value="{{ producto.nombreProducto }}" name="nombreProducto">
                                    <small>Stock</small>
                                    <input type="text" class="form-control mb-5" value="{{ producto.stock }}" name="stock">
                                    <small>Fecha lanzamiento</small>
                                    <input type="date" class="form-control mb-5" value="{{ producto.fecha|safe }}" name="fecha">
                                    <small>Categoria</small>
                                    <select class="form-select" name="categoria" >
                                        <option value="1" {% if producto.idCategoria == 1 %}selected{% endif %}>Película</option>
                                        <option value="2" {% if producto.idCategoria == 2 %}selected{% endif %}>Funko</option>
                                        <option value="3" {% if producto.idCategoria == 3 %}selected{% endif %}>Comic</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <img class="img-fluid" src="data:image/jpeg;base64,{{ base64.b64encode(producto.imagen).decode('utf-8') }}">
                                    <input type="file" class="form-control" value="" name="imagen">
                                </div>
                                <div class="text-center"><input type="submit" value="Modificar" class="btn btn-success btn-sm mb-3 col-md-4 fs-5"></div>
                                </form>
                            </li>
                        
                    </div>
                </div> 
            </div>
        </div>
        <script>
            function validarFormulario() {
                var stock = document.getElementsByName("stock")[0].value;
                var fecha = document.getElementsByName("fecha")[0].value;
                var nombre = document.getElementsByName("nombreProducto")[0].value
                valorReturn = true;

                // Validación de campo numérico para stock
                var regex = /^[0-9]+$/;
                // Validacion de la fecha
                if (fecha === "") {
                    alert("Debe introducir una fecha");
                    valorReturn = false;
                }
                if(nombre === ""){
                    alert("El campo de nombre no puede estar vacio");
                    valorReturn = false;
                }
                if (stock === "") {
                    alert("El campo de stock no puede estar vacio");
                    valorReturn = false;
                    }
                if (!regex.test(stock) && valorReturn != false){
                    alert("El campo de stock debe contener solo números");
                    valorReturn = false;
                }

                return valorReturn;
            }
        </script>
    </body>
    </html>
{% endblock %}